
.login{
	margin-top: 50px;
	margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;

  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}
.demo-img{
  margin-top: 50px;
  border: 4px solid black;
  border-radius: 20px;
  width: 400px;
  margin-left: 27%;
}
.demo-img:hover{
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}
.overview{
  width: 70%;
  margin:0 auto;
}
.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.active .spinner {
    width: 10px;
}

.has-spinner.btn-small.active .spinner {
    width: 13px;
}

.has-spinner.btn.active .spinner {
    width: 16px;
}

.has-spinner.btn-large.active .spinner {
    width: 19px;
}


.navbar-custom {
    background-color:#9B0516;
    color:#ffffff;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:#B3303F;
}
.navbar-custom .navbar-brand {
    color:#eeeeee;
}